<div id="new-note-fixed">
	<div>
		<button type="button" id="new-note" class="icon-add">{{newNoteTxt}}</button>
	</div>
</div>
<li id="all-notes">
	<a href="#" class="icon-home svg">
		{{allNotesTxt}}
	</a>
</li>
<li id="shared-folder" class="collapsible open">
	<button class="collapse"></button>
	<a href="#" class="icon-share svg">{{t "quicknotes" "Shared" }}</a>
	<ul>
		<li id="shared-by-you">
			<a href="#" class="icon-share svg">{{t "quicknotes" "Shared with others" }}</a>
		</li>
		<li id="shared-with-you">
			<a href="#" class="icon-share svg">{{t "quicknotes" "Shared with you" }}</a>
		</li>
	</ul>
</li>
<li id="colors-folder" class="collapsible open">
	<button class="collapse"></button>
	<a href="#" class="icon-search svg">{{colorsTxt}}</a>
	<ul>
		<li style="display: flex; justify-content: center;">
			<button class="circle-toolbar icon-checkmark any-color"></button>
			{{#each colors}}
				<button class="circle-toolbar" style="background-color: {{color}} "></button>
			{{/each}}
		</li>
	</ul>
</li>
<li id="tags-folder" class="collapsible open">
	<button class="collapse"></button>
	<a href="#" class="icon-tag svg">{{tagsTxt}}</a>
	<ul>
		{{#each tags}}
			<li class="nav-tag with-menu {{#if active}}active{{/if}}" tag-id="{{ id }}">
				<a href="#">{{{ name }}}</a>
			</li>
		{{/each}}
	</ul>
</li>
<li id="notes-folder" class="collapsible open">
	<button class="collapse"></button>
	<a href="#" class="icon-quicknotes svg">{{notesTxt}}</a>
	<ul>
		{{#each notes}}
			<li class="nav-note with-menu {{#if active}}active{{/if}}"  data-id="{{ id }}">
				<a href="#">{{{ title }}}</a>
			</li>
		{{/each}}
	</ul>
</li>
