<div class="note-grid-item">
	<div class="quicknote noselect {{#if active}}note-active{{/if}} {{#if isshared}}shared{{/if}} {{#if sharedwith}}shareowner{{/if}}" style="background-color: {{color}}" data-id="{{ id }}" data-timestamp="{{ timestamp }}" >
		{{#if isshared}}
		<div>
			<div class='icon-share shared-title' title="Shared by {{ userid }}"></div>
			<div class='note-title'>
				{{{ title }}}
			</div>
		</div>
		<div id='content' class='note-content'>
			{{{ content }}}
		</div>
		{{else}}
		<div>
			<div class="icon-header-note icon-pin hide-header-icon" title="{{t "quicknotes" "Pin note"}}"></div>
			<div class="icon-header-note icon-delete hide-header-icon icon-delete-note" title="{{t "quicknotes" "Delete note"}}"></div>
			<!--
			{{#if sharedwith}}
			<div class='icon-share shared-title-owner' title="Shared with {{ sharedwith }}"></div>
			{{/if}}
			-->
			<div class='note-title'>
				{{{ title }}}
			</div>
		</div>
		<div class='note-content'>
			{{{ content }}}
		</div>
		<div class='note-tags'>
			{{#each tags}}
				<div class="icon-tag slim-tag" tag-id="{{ id }}">{{{ name }}}</div>
			{{/each}}
		</div>
		{{/if}}
	</div>
</div>