<div class="note-grid-item">
	<div class="quicknote noselect {{#if sharedBy.length}}shared{{/if}} {{#if sharedWith.length}}shareowner{{/if}}" style="background-color: {{color}}" data-id="{{ id }}" data-timestamp="{{ timestamp }}" >
		<div class='note-header'>
			<div class='note-attachts'>
				{{#each attachments}}
					<div class='note-attach-grid'>
						<div class="attach-preview note-attach" attach-file-id="{{file_id}}" data-background-image="{{preview_url}}"/>
					</div>
				{{/each}}
			</div>
		</div>
		<div class='note-body'>
			<div>
				{{#if isPinned}}
					<div class="icon-header-note icon-pinned fixed-header-icon" title="{{t "quicknotes" "Unpin note"}}"></div>
				{{else}}
					<div class="icon-header-note icon-pin hide-header-icon" title="{{t "quicknotes" "Pin note"}}"></div>
				{{/if}}
				<div class="icon-header-note icon-delete hide-header-icon icon-delete-note" title="{{t "quicknotes" "Delete note"}}"></div>
				<div class='note-title'>
					{{{ title }}}
				</div>
			</div>
			<div class='note-content'>
				{{{ content }}}
			</div>
			<div class='note-shares'>
				{{#each sharedWith}}
					<div class="icon-user slim-share" share-id="{{ shared_user }}" title="Shared with {{ shared_user }}">{{{ shared_user }}}</div>
				{{/each}}
			</div>
			<div class='note-tags'>
				{{#each tags}}
					<div class="icon-tag slim-tag" tag-id="{{ id }}">{{{ name }}}</div>
				{{/each}}
			</div>
		<div>
	</div>
</div>